.container{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 5px;
    width: 820px;
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media print, screen and (max-width: 830px){
    .container {
        width: auto;
        margin: 0;
    }
}

// .block {
//     position: relative;
//     overflow: hidden;
//     background: #fcfcfa;
//     box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
//     margin-bottom: 25px;
// }

.entry-title a {
    color: #444;
    &:hover {
        color: #ea4c89;
    }
}

.entry-meta .space, .sep, .space {
    padding: 0 10px;
}

.read-more {
    background: #ccc;
    border-color: #ccc;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    padding: 12px 20px;
    line-height: 1;
    font-size: 13px;
    &:hover {
        background: #ea4c89;
        border-color: #ea4c89;
    }
}

.posts {
    margin: 0 330px 26px 0;
    .post {
      background: #fff;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      .entry-title{
        font-size: $fontE;
        margin-bottom: 10px;
      }
      .meta{
        margin-bottom: 10px;
        color: #a5a5a5;
        font-size: 12px;
        overflow: hidden;
      }
      .ReadMore{
        margin-top: 16px;
      }
      .entry{
        line-height: 30px;
        margin-bottom: 16px;
      }
    }
}

.title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.8em;
    font-family: Pmingliu,Mingliu;
    line-height: 1em;
}

pre {
    display: block;
    margin: 0 0 18px;
    background-color: #F0F0F0;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 1.5em;
}

code, pre {
    padding: 0 3px 2px;
    color: #333;
    font-size: 12px;
    font-family: Menlo,Monaco,Consolas,"Lucida Console","Courier New","Microsoft Yahei",monospace;
}

code {
    padding: 3px 4px;
    background-color: #f5f5f5;
}

pre code {
    padding: 0;
    background-color: transparent;
}

pre {
    margin: 15px 0;
    font-size: 12px;
    line-height: 18px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-left-width: 4px;
    background-color: #fefefe;
    box-shadow: 0 0 4px #eee;
    -webkit-text-size-adjust: none;
    color: #657b83;
    max-height: 35em;
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
}